$primaryColor : #ADC347;
$primaryColorDark :#191A1A;


.Dashboard {
    margin-top: 50px;
   padding-right: 12px;
    .title-chart {
        margin: 20px auto;
    }
    .dashboard-header {
        display: flex;
        justify-content: space-between;
        .dashboard-card {
            margin-right:10px;
            background-color: $primaryColorDark;
            border-radius: 10px;
            box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.322);
            padding: 10px 20px 10px 10px;
            color: white;
            &:last-child {
                margin-right:0;
            }
            .header-card {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                span:nth-child(1) {
                    margin-right: 10px;
                }
            }
            .content-card {
                display: flex;
                justify-content: space-between;
                font-size: 14px;

                .statistic-title {
                    display: flex;
                    flex-direction: column;

                    span:nth-child(1) {
                        margin-bottom: 2px;
                    }
                }
                .statistic-number {
                    display: flex;
                    flex-direction: column;

                    span:nth-child(1) {
                        margin-bottom: 2px;
                    }
                }
            }
        }
    }

    .dashboard-body {
        margin-top: 16px;
        .card-chart {
            .card-body {
                margin-top: 10px;
                .chart-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    column-gap: 20px;
                    margin-top: 30px;
                }
            }

        }


    }
}


@media only screen and (max-width: 600px) {
  
}
@media only screen and (max-width: 768px) {
   
}
@media only screen and (max-width: 992px) {
    .dashboard-header {
        flex-direction: column;
        row-gap: 10px;
    }
    .card-chart {
        .card-body {
            .chart-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                
              
            }
        }

    }

}
@media only screen and (min-width: 1200px) {

    .dashboard-header {
        margin: auto 20px;
    }
}