$primaryColor : #ADC347;
$primaryColorDark: #191A1A;

.user-searching {
    margin-top: 60px;
    .alert-message {
        position: absolute;
        right: 5px;
      }
    .header-searching {
        display: flex;
        justify-content: space-between;
        .input-search {
            input[type="text"] {
                height: 30px;
                width: 280px;
                outline: none;
                border: none;
                color: $primaryColorDark;
                font-size: 14px;
                padding-left: 6px;
                background-color: #acc3477a;
            }

            .search-button {
                background-color: $primaryColorDark;
                outline: none;
                border: none;
                padding: 8px 20px;
                color: white;
                font-size: 13px;
                cursor: pointer;
            }
        }
        .buttons-update {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            button {
                display: flex;
                justify-content: flex-end;
                
                outline: none;
                border: none;
                padding: 8px 14px;
                color: white;
                font-size: 13px;
                background-color: $primaryColor;
                cursor: pointer;
                 a {
                    text-decoration: none;
                    color: white;
                    &.disabled {
                        pointer-events: none;
                    }  
                 }
                .icon-menu {
                    padding-left: 2px;
                    font-size: 15px;
                }
                &:disabled {
                    background-color: #859734;
                    cursor: auto;
                }    
            }
           
           
        }
    }

    .user-informations {
        margin-top: 60px;
        .content-information {
            display: grid;
            grid-template-columns: auto auto auto auto;
            row-gap: 20px;
            column-gap: 20px;
            .info-item {
                label {
                    font-size: 14px;
                    color: rgb(49, 49, 49);
                    margin-bottom: 5px;
                }
                input[type="text"] {
                    height: 30px;
                    width: 100%;
                    outline: none;
                    border: none;
                    color: $primaryColorDark;
                    font-size: 14px;
                    padding-left: 6px;
                    background-color: #EEEEEE;

                }
            }
        }



    }
}

.MuiList-root {
    &.MuiList-padding {
        &.MuiMenu-list {
            &.css-6hp17o-MuiList-root-MuiMenu-list {
                padding-right: 0;
                padding-left: 0;

                .list-menu {
                    padding: 5px 50px 2px 10px;
                    cursor: pointer;
                    width: 100%;
                    font-size: 14px;
                    width: 100%;

                    &:hover {
                        background-color: $primaryColor;
                        color: white;
                    }

                }

            }
        }
    }
      
    

}

.MuiDialogContent-root {
    &.css-ypiqx9-MuiDialogContent-root{
    
    .content-dialog {
        .form-group {
            display:  flex;
            flex-direction: column;
            .form-item {
                display:  flex;
                flex-direction: column;
                label{
                    margin-top: 15px;
                    font-size: 15px;
                }
                input[type="text"] {
                    height: 30px;
                    width: 280px;
                    outline: none;
                    border: none;
                    color: $primaryColorDark;
                    font-size: 14px;
                    padding-left: 6px;
                    background-color: rgb(230, 226, 226);
                }

            }

        }
        
    }
}
}

@media only screen and (max-width: 600px) {
    
    .user-searching {
        .header-searching {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        
            .input-search {
                margin-bottom: 10px;
            }
         
            .buttons-update {
                display: flex;
                flex-wrap: wrap;
            }
        }
    
        .user-informations {
            .content-information {
                display: grid;
                grid-template-columns: auto; 
               
                
            }
      
        }
    } 
  
}
@media only screen and (min-width: 600px) {
    
    .user-searching {
        .header-searching {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          
            .input-search {
                margin-bottom: 10px;
            }
         
            .buttons-update {
                display: flex;
                flex-wrap: wrap;
            }
        }
    
        .user-informations {
            .content-information {
                display: grid;
                grid-template-columns: auto; 
               
                
            }
      
        }
    } 
  
}

@media only screen and (min-width: 768px) {
.user-searching {
    .header-searching {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      
        .input-search {
            margin-bottom: 10px;
        }
     
        .buttons-update {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .user-informations {
        .content-information {
            grid-template-columns: auto;   
        }
  
    }
}

}
@media only screen and (min-width: 992px) {
.user-searching {
    .header-searching {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
      
        .input-search {
            margin-bottom: 10px;
        }
     
        .buttons-update {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .user-informations {
        .content-information {
            display: grid;
            grid-template-columns: auto auto ;   
        }
  
    }
}

}
@media only screen and (min-width: 1200px) {
.user-searching {
    .header-searching {
        display: flex;
       
      
        .input-search {
            margin-bottom: 10px;
        }
     
        .buttons-update {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .user-informations {
        .content-information {
            display: grid;
            grid-template-columns: auto auto auto;   
        }
  
    }
}


}
