$primaryColor: #ffc324;
$primaryColorDark: #191a1a;

.settings-container {
  overflow: hidden;

  .settings-header {
    .cover-image {

      height: 300px;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: fill;
      }
    }

    .profil-image {
      position: absolute;
      margin-top: -5em;
      margin-left: 1em;

      .upload-image {
        position: absolute;
        right: 1em;
        bottom: 0;
      }

      .icon-upload-image {
        cursor: pointer;
      }
    }
  }

  .setting-body {
    margin-top: 80px;

    .form-personal-details {
      form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4em;
        row-gap: 1.5em;

        .form-group:last-child {
          grid-column: 1/3;
        }

        .form-group {
          display: flex;
          flex-direction: column;
          .phone-number {
            width: 100%;
           
          }

          .validationForm {
            margin-top: 2px;
            font-size: 12px;
            color: #f71d33;
          }

          .form-control {
            padding-left: 45px;
            height: 40px;
            font-size: 13px;
            width: 100%;
          }

          label {
            font-size: 15px;
            font-weight: 600;
          }

          input {
            margin-top: 3px;
            padding: 12px;
            outline: none;
            font-size: 13px;
            border: 1px solid #191a1a62;
            border-radius: 5px;
          }
        }
      }

      .form-buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 15px;

        button {
          border: none;
          outline: none;
          padding: 11px 20px;
          border-radius: 5px;
          font-size: 14px;
          margin-top: 10px auto;
          cursor: pointer;
        }

        .update-button {
          color: white;
          margin-right: 10px;
          background-color: #191a1a;
        }

        .cancel-button {
          color: #E75A65;
          background-color: #e75a6673;

          &:hover {
            color: white;
            background-color: #E75A65;
          }
        }
      }
    }

    .form-password {
      form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2em;

        .form-group {
          display: flex;
          flex-direction: column;

          .validationForm {
            margin-top: 10px;
            font-size: 12px;
            color: #f71d33;
          }

          label {
            font-size: 15px;
            font-weight: 600;
          }

          .input-item {
            margin-top: 3px;
            font-size: 13px;
            padding: 12px;
            outline: none;
            border: 1px solid #191a1a62;
            border-radius: 5px;

            &.invalid {
              border: 1px solid #f71d33;
            }
          }
        }
      }

      .form-buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 15px;

        button {
          border: none;
          outline: none;
          padding: 11px 20px;
          border-radius: 5px;
          font-size: 14px;
          margin-top: 10px auto;
          cursor: pointer;
          color: white;
          background-color: #191a1a;
        }
      }
    }

  }
}

@media only screen and (max-width: 600px) {
  .settings-container {
    .setting-body {
      .form-personal-details {
        form {
         display: flex;
         flex-direction: column;
        }
      }
      .form-password {
        form {
          display: flex;
          flex-direction: column;
         row-gap: 22px;
        }}
    }

  }
 
}

@media only screen and (min-width: 600px) {
  .settings-container {
    .setting-body {
      .form-personal-details {
        form {
         display: flex;
         flex-direction: column;
        }
      }
      .form-password {
        form {
          display: flex;
          flex-direction: column;
         row-gap: 22px;
        }}
    }

  }
}

@media only screen and (min-width: 768px) {
  .settings-container {
    .setting-body {
      .form-personal-details {
        form {
         display: flex;
         flex-direction: column;
        }
      }
      .form-password {
        form {
          display: flex;
          flex-direction: column;
         row-gap: 22px;
        }}
    }

  }
}

@media only screen and (min-width: 992px) {
  .settings-container {
    .setting-body {
      .form-personal-details {
        form {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }
      }
      .form-password {
        form {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          column-gap: 2em;
        }}
    }

  }
}

@media only screen and (min-width: 1200px) {}