$primaryColor : #ADC347;
$primaryColorDark: #191A1A;

.kickScooter-searching {
    margin-top: 60px;
    .alert-message {
        position: absolute;
        right: 5px;
      }
    .header-searching {
        display: flex;
        justify-content: space-between;
        .input-search {
            input[type="text"] {
                height: 30px;
                width: 280px;
                outline: none;
                border: none;
                color: $primaryColorDark;
                font-size: 14px;
                padding-left: 6px;
                background-color: #acc3477a;
            }

            .search-button {  
                background-color: $primaryColorDark;
                outline: none;
                border: none;
                padding: 8px 20px;
                color: white;
                font-size: 13px;
                cursor: pointer;

            }


        }
     
        .buttons-update {
            display: flex;
            gap: 10px;
            button {
                outline: none;
                border: none;
                padding: 8px 14px;
                color: white;
                font-size: 13px;
                background-color: $primaryColor;
                cursor: pointer;
                .icon-menu {
                    padding-left: 2px;
                    font-size: 15px;
                }
                &:nth-child(1) {
                    display: flex;
                    padding: 8px 14px 5px 14px;
                } 
                &:disabled {
                    background-color: #859734;
                    cursor: auto;
                }

                // &:nth-child(2) {
                //     background-color: rgb(253, 43, 43);
                // }

                // &:nth-child(3) {
                //     background-color: $primaryColorDark;
                // }

                // &:nth-child(4) {
                    
                //     background-color: rgb(253, 43, 43);
                // }
              
            }

          

        }

    }

    .kickScooter-informations {
        margin-top: 60px;
        .content-information {
            display: grid;
            grid-template-columns: auto auto auto auto;
            row-gap: 20px;
            column-gap: 20px;

            .info-item {
                label {
                    font-size: 14px;
                    color: rgb(49, 49, 49);
                    margin-bottom: 5px;
                }

                input[type="text"] {
                    height: 30px;
                    width: 100%;
                    outline: none;
                    border: none;
                    color: $primaryColorDark;
                    font-size: 14px;
                    padding-left: 6px;
                    background-color: #EEEEEE;

                }

                &:nth-child(1) {
                    grid-row: 1 / 6;
                }


            }
        }



    }
}
.MuiList-root {
    &.MuiList-padding {
        &.MuiMenu-list {
            &.css-6hp17o-MuiList-root-MuiMenu-list {
             .list-menu {
                cursor: pointer;
                padding:5px 50px 5px 10px;
                width: 100%;
                font-size: 14px;
             }
                
            }
        }
    }

}

@media only screen and (max-width: 600px) {
    .kickScooter-searching {
        .header-searching {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          
            .input-search {
                margin-bottom: 10px;
            }
         
            .buttons-update {
                display: flex;
                flex-wrap: wrap;
            }
        }
    
        .kickScooter-informations {
            .content-information {
                display: grid;
                grid-template-columns: auto; 
               
                
            }
      
        }
    } 
  
}


    @media only screen and (min-width: 600px) {
        .kickScooter-searching {
            .header-searching {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
              
                .input-search {
                    margin-bottom: 10px;
                }
             
                .buttons-update {
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        
            .kickScooter-informations {
                .content-information {
                    display: grid;
                    grid-template-columns: auto; 
                   
                    
                }
          
            }
        } 
      
    }

@media only screen and (min-width: 768px) {
    .kickScooter-searching {
        .header-searching {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          
            .input-search {
                margin-bottom: 10px;
            }
         
            .buttons-update {
                display: flex;
                flex-wrap: wrap;
            }
        }
    
        .kickScooter-informations {
            .content-information {
                grid-template-columns: auto;   
            }
      
        }
    }
   
}
@media only screen and (min-width: 992px) {
    .kickScooter-searching {
        .header-searching {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
          
            .input-search {
                margin-bottom: 10px;
            }
         
            .buttons-update {
                display: flex;
                flex-wrap: wrap;
            }
        }
    
        .kickScooter-informations {
            .content-information {
                display: grid;
                grid-template-columns: auto auto ;   
            }
      
        }
    }

}
@media only screen and (min-width: 1200px) {
    .kickScooter-searching {
        .header-searching {
            display: flex;
           
          
            .input-search {
                margin-bottom: 10px;
            }
         
            .buttons-update {
                display: flex;
                flex-wrap: wrap;
            }
        }
    
        .kickScooter-informations {
            .content-information {
                display: grid;
                grid-template-columns: auto auto auto;   
            }
      
        }
    }


}